.blog-article {
  line-height: 1.8;
  color: #333;
}

.blog-article h1 {
  font-size: 1.8em;
  color: #2a2a2a;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.blog-article h2 {
  font-size: 1.4em;
  color: #3a3a3a;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.blog-article h3 {
  font-size: 1.2em;
  color: #444;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.blog-article p {
  margin: 1rem 0;
  line-height: 1.8;
}

.blog-article ul,
.blog-article ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.blog-article li {
  margin-bottom: 0.6rem;
  line-height: 1.7;
}

.blog-article b,
.blog-article strong {
  color: #2a2a2a;
}

.blog-article .hashtag {
  margin-top: 2rem;
  color: #666;
  font-style: italic;
}

.blog-article hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
